// text
$main-text: #171c26;
$second-text: #464f60;
$third-text: #687182;

// background
$main-background: #ffffff;
$second-background: #f9fafc;
$third-background: #2264e53d;

// global
$primary: #2264e5;
$danger: #ad2a2a;

// If >> dark - light Mode

// // global
// html {
//   --sky-color: hsl(192, 100%, 67%);
// }
// // light mode
// html:not([dark-mode="true"]) {
//   --main-background-color: hsl(0, 0%, 98%); // Very Dark Desaturated Blue
// }
// // dark mode
// html[Dark-mode="true"] {
//   --main-background-color: hsl(235, 24%, 19%); // Very Dark Desaturated Blue
// }
