* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
img {
  user-select: none;
  border-style: none;
}
input,
select,
textarea,
button,
optgroup {
  font: {
    size: inherit;
    family: inherit;
  }
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}
body {
  background-color: var(--screen-bg-color);
  font: {
    size: 32px;
    family: "League Spartan", sans-serif;
  }
}
