html {
  scroll-behavior: smooth;
}
$scroll: "::-webkit-scrollbar";

#{$scroll} {
  width: 15px;
}
#{$scroll}-track {
  background-color: var(--main-text-color);
}
#{$scroll}-thumb {
  cursor: pointer;
  border-radius: $main-border-radius;
  &,
  &:hover {
    background-color: var(--main-bg-color);
  }
}
