doctype
html(dir=dir,data-theme=1)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="this is a web project")
    title Calculator App
    link(rel="stylesheet", href="css/main.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", id="font-url" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap")
  body
    main
      header
        h1 calc
        div
          span theme
          .theme-control
            - var i = 1;
            while i <= 3
              button(data-theme=i++)
      section.keypad
      section.keys
        .natural-numbers
          - var n = 9;
          while n >= 1
            button(data-value=n) #{n--}
        button.delete.btn-text
        button.plus(data-operator='+') +
        button.minus(data-operator='-') -
        button.reset.btn-text reset
        button.equal =
        button.dot(data-value='.') .
        button.zero(data-value=0) 0
        button.division(data-operator='/') /
        button.multiply(data-operator='*') x
    script(src="js/main.js")