section.keypad {
  background-color: var(--second-bg-color);
  color: var(--header-text-color);
  padding: 30px 25px;
  border-radius: $main-border-radius;
  font-size: 40px;
  margin: 25px 0 20px;
  text-align: end;
  @include underLargeMobile {
    text-align: center;
  }
}
