section.keypad {
  height: 100px;
  padding: 0 25px;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--second-bg-color);
  color: var(--header-text-color);
  border-radius: $main-border-radius;
  font-size: 5vmin;
  margin: 25px 0 20px;
  display: flex;
  @include underLargeMobile {
    justify-content: center;
  }
}
